<%- include("header") -%>
    <div class="container my-3">
        <!-- Items-->
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <!-- FOREACH START -->
                    <% cart.forEach(function(item){ %>
                        <tbody>
                            <tr>
                                <th scope="row" style="vertical-align: middle;">
                                    <!-- REMOVE ITEM BTN -->
                                    <form action="/remove-item" method="post" class="my-0 mx-0">
                                        <input type="hidden" name="id" value="<%= item.id %>">
                                        <button type="submit" class="removeBtn mx-0">
                                            <i class="fa-solid fa-xmark py-0 px-0"></i>
                                        </button>
                                    </form>
                                    <!-- product display-->
                                </th>
                                <td style="vertical-align: middle;"><img
                                        src="images/<%=item.products_id%>/<%=item.image%>" alt="<%=item.id%>"></td>
                                <td style="vertical-align: middle;">
                                    <%= item.flavor %>
                                        <br><small>
                                            <%= item.products_id %>
                                        </small>
                                </td>
                                <td style="vertical-align: middle;">
                                    <form action="/update-cart" method="POST" class="my-0 mx-0">
                                        <!-- change quantity -->
                                        <input type="hidden" name="id" value="<%= item.id %>">
                                        <input type="number" name="quantity-<%= item.id %>"
                                            value="<%= item && item.userQuantity %>" class="cartQuantityInput"
                                            max="<%= item && item.stock %>" min="1" id="<%=item.id%>"
                                            data-quantity="<%= item.userQuantity %>">
                                        <button type="submit" class="btn btn-warning cartQuantity" id="<%=item.id%>"
                                            hidden>Update</button>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', () => {
                                                enableUpdateButton();
                                            });
                                        </script>
                                    </form>
                                </td>
                                <!-- price -->
                                <td style="vertical-align: middle;">$<%= item.price %>
                                </td>
                            </tr>
                        </tbody>
                        <% }) %>
                </table>
            </div>
            <!-- SUBTOTAL -->
            <div class=" col-lg-4 col-md-12">
                <!-- SUBTOTAL -->
                <div class="row py-3 px-3 totalCalculation border-top">
                    <div class="col-6 py-0 px-0">
                        Subtotal:
                    </div>
                    <div class="col-6 py-0 px-0" style="text-align: end;">
                        <% let subtotal=0; cart.forEach(function(item) { subtotal +=item.userQuantity * item.price; });
                            %>
                            $<%= subtotal.toFixed(2) %>
                    </div>
                </div>
                <!-- SHIPPING CALCULATION-->
                <div class="row py-3 px-3 totalCalculation">
                    <div class="col-8 py-0 px-0">
                        Shipping:
                        <br><small style="color: red">*</small><small>Free express shipping on orders over $100</small>
                    </div>
                    <div class="col-4 py-0 px-0" style="text-align: end;">
                        <% if (subtotal>= 100) {%>
                            FREE
                            <% } else { %>
                                $12.95
                                <% } %>
                    </div>
                </div>
                <!-- TOTAL PRICE-->
                <div class="row py-3 px-3 totalCalculation">
                    <div class="col-6 py-0 px-0">
                        <h5 class="my-0">Total:</h5>
                    </div>
                    <div class="col-6 py-0 px-0" style="text-align: end;">
                        <% if (subtotal>= 100) {%>
                            <h5 class="my-0">$<%=(subtotal).toFixed(2) %>
                            </h5>
                            <%}else{%>
                                <h5 class="my-0"> $<%= (subtotal + 12.95).toFixed(2) %>
                                </h5>
                                <%}%>
                    </div>
                </div>
                <!-- PROCEED TO CHECKOUT -->
                <div class="row">
                    <form action="/create-checkout-session" method="post" class="px-0">
                        <input type="submit" value="Proceed to checkout" class="btn btn-dark checkoutBtn">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") -%>