<%- include("header") -%>
    <div class="container text-center">
        <div class="row py-5">
            <h1>All your favourite IGET LEGEND flavours, right here!</h1>
            <p> Welcome to IGET Wholesale - your one-stop-shop for all your favourite IGET LEGEND flavours at unbeatable prices! With our wide selection of premium e-liquid flavours, you'll never run out of options. Browse our collection today and stock up on your favourite IGET LEGEND flavours with IGET Wholesale! </p>


            <% result.forEach(function(item) { %>
                <div class="col-sm-6 col-md-4 col-lg-3 py-5">
                    <img class="homeicon" src="images/<%=item.products_id%>/<%=item.image%>" alt="The IGET LEGEND <%=item.flavor %> is the perfect blend of fruity flavors, making for an excellent choice."><br>
                    <small>
                        <%= item.products_id %>
                    </small>
                    <p>
                        <%= item.flavor %>
                    </p>
                    <% if (item.stock <=0) { %>
                        <a class="btn btn-dark disabled shopNow" href="#" role="button" id="<%= item.id %>">Out of
                            Stock</a>
                        <% } else { %>
                            <a class="btn btn-dark shopNow" href="/<%=item.id%>" role="button"
                                name="<%= item.id %>">Shop Now</a>
                            <% } %>
                </div>
                <% }); %>
        </div>
    </div>
    <%- include("footer") -%>
